/* ----------------------------- */
/* Main first section here  */
/* ----------------------------- */

.lawn-first-section {
  height: 80vh;
  position: relative;
  background-image: url(../../images/services-lawn.jpg);
}

.lawn-first-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #00000073;
}

.lawn-first-internal {
  color: var(--white);
  padding: 5%;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lawn-first-internal > h1 {
  font-size: 48px;
}

.lawn-first-internal > p {
  font-size: 28px;
  color: var(--white);
  margin: 5% 0;
}

.lawn-first-footer {
  position: absolute;
  bottom: -13%;
  left: 10%;
  padding: 3% 5%;
  border-radius: 14px;
  background-color: var(--primary-green);
}

.lawn-first-footer-item > svg {
  height: 60px;
  width: 70px;
  outline: 1px solid var(--white);
  margin-right: 5%;
}

.lawn-first-footer-item > p {
  width: 50%;
  color: var(--white);
}

/* ----------------------------- */
/* Featured by section */
/* ----------------------------- */

.home-image-strip {
  margin-top: 6%;
}

/* ----------------------------- */
/* Second serrvices  section */
/* ----------------------------- */

.second-services-content > h2 {
  font-weight: 400;
  margin: 5% 0;
}

.home-sixth-section-card {
  padding: 5% 0;
}

.home-sixth-section-card-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.135);
}

.home-sixth-section-card-content > h2 {
  color: var(--black);
}

.home-sixth-section-card-content > p {
  margin: 4% 0;
  font-weight: 300;
  color: var(--black);
}

.home-sixth-section-card-content > span {
  margin-top: 5%;
}
